Repository mlin/sqlite_zstd_vfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

reenable lazycurl for macOS
  CMakeLists.txt
Due: none

tidy race
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

fix race condition indicated by valgrind
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

bump web_vfs
  CMakeLists.txt
Due: none

maintain covering index of btree interior pages
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
  test/test.py
Due: clang-format, cppcheck, black

fix CI
  test/test.py
Due: black

polish
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

opt-out
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

refactoring and comments
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

btree_interior heuristics
  src/SQLiteNestedVFS.h
  test/test.py
Due: clang-format, cppcheck, black

fixup
  src/SQLiteNestedVFS.h
  test/test.py
Due: clang-format, cppcheck, black

fixup
  test/test.py
Due: black

polish
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

dbi
  CMakeLists.txt
  test/TPC-H.py
  test/test.py
Due: black

sniff page type in encode thread
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

passthrough dbi options
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

TPC-H.py config
  README.md
  test/TPC-H.py
Due: black

covering index of btree interior pages (#9)
  CMakeLists.txt
  README.md
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
  test/TPC-H.py
  test/test.py
Due: clang-format, cppcheck, black

read btree interior index in web mode only
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

pageno filter for btree interior index
  CMakeLists.txt
  src/SQLiteNestedVFS.h
  test/test.py
Due: clang-format, cppcheck, black

revert EnqueueFast
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

vestige
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

back out SQLITECPP_IN_EXTENSION
  CMakeLists.txt
Due: none

tidy vestigial variable
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

bump SQLiteCpp
  CMakeLists.txt
Due: none

bump web_vfs
  CMakeLists.txt
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

bump dependencies
  CMakeLists.txt
  test/test.py
Due: black

remove unnecessary unix header includes
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

Update README.md
  README.md
Due: none

add debugging mutex checks for outer db
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

wip
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

asserts
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

fences
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

copy
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

commit
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
