Repository mlin/sqlite_zstd_vfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

remove unnecessary transaction cycle during dict update
  .pre-commit-config.yaml
  src/zstd_vfs.h
  test/test.cc
Due: clang-format, cppcheck

don't build tests if not top-level project
  CMakeLists.txt
  Dockerfile
  README.md
Due: none

simplify outer transaction handling
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

begin refactor for background compression
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

ThreadPool untested
  CMakeLists.txt
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
Due: clang-format, cppcheck

working background compression
  README.md
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

configure thread count
  README.md
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
  src/zstd_vfs.h
  test/TPC-H.py
  test/test.cc
Due: clang-format, cppcheck, black

update readme
  README.md
  test/TPC-H.py
Due: black

background thread pool for page compression+upsertion (#1)
  CMakeLists.txt
  README.md
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
  src/zstd_vfs.h
  test/TPC-H.py
  test/test.cc
Due: clang-format, cppcheck, black

Update README.md
  README.md
Due: none

nip&tuck ThreadPool locking
  README.md
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
  test/test.py
Due: clang-format, cppcheck, black

simplify ThreadPool locking
  src/ThreadPool.h
Due: clang-format, cppcheck

avoid scan of outer page table on open
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

change 0-based page_idx to 1-based pageno
  README.md
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

eliminate dependence on SQLITE_ENABLE_COLUMN_METADATA
  CMakeLists.txt
Due: none

adjust treatment of SQLITE_OPEN_MAIN_JOURNAL in case host SQLite has assertions on
  README.md
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

fix test flags
  src/SQLiteNestedVFS.h
  test/test.cc
Due: clang-format, cppcheck

macOS CI
  .github/workflows/tests.yml
  test/test.py
Due: black

fix
  .github/workflows/tests.yml
Due: none

macOS CI (#2)
  .github/workflows/tests.yml
  test/test.py
Due: black

moar unsafety
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

test incremental blob I/O
  test/test.cc
Due: clang-format, cppcheck

pass through 'immutable' flag
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

formatting
  test/test.cc
Due: clang-format, cppcheck

optimize sequential page reads by keeping inner db cursor open
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

reorganize SQLiteNestedVFS.h
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

optimize sequential page reads by keeping inner db cursor open (#3)
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

set DeviceCharacteristics
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

optimize reads from page 1
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

timings
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

wip
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

wip
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
Due: clang-format, cppcheck

wip
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
  test/test.cc
Due: clang-format, cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
