Repository mlin/sqlite_zstd_vfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: clang-format
    name: clang-format
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: clang-format
    args: [-i,'-style={IndentWidth: 4, ColumnLimit: 100}']
  - id: cppcheck
    name: cppcheck
    language: system
    files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
    verbose: true
    entry: cppcheck
    args: [-q,--std=c++11]
  - id: black
    name: black
    language: system
    files: \.py$
    verbose: true
    entry: black
    args: [-l,'100']

hook up web_vfs
  CMakeLists.txt
  src/SQLiteNestedVFS.h
  src/nested_vfs.cc
  src/zstd_vfs.cc
Due: clang-format, cppcheck

works
  CMakeLists.txt
  Dockerfile
  src/SQLiteNestedVFS.h
  test/test.py
Due: clang-format, cppcheck, black

polish
  test/test.py
Due: black

logflush
  CMakeLists.txt
Due: none

REVERTME
  CMakeLists.txt
Due: none

logging
  CMakeLists.txt
Due: none

Revert "REVERTME"
  CMakeLists.txt
Due: none

revertme
  test/test.py
Due: black

Revert "revertme"
  test/test.py
Due: black

debug curl
  .github/workflows/tests.yml
Due: none

press
  .github/workflows/tests.yml
  CMakeLists.txt
Due: none

wtf
  CMakeLists.txt
Due: none

revertme
  CMakeLists.txt
Due: none

Revert "revertme"
  CMakeLists.txt
Due: none

fix
  CMakeLists.txt
Due: none

hmm
  CMakeLists.txt
Due: none

this is it
  CMakeLists.txt
Due: none

desperate
  test/test.py
Due: black

this is it deux
  .github/workflows/tests.yml
  CMakeLists.txt
  test/test.py
Due: black

polish
  .github/workflows/tests.yml
Due: none

SQLITECPP_IN_EXTENSION
  CMakeLists.txt
  src/SQLiteNestedVFS.h
  test/test.cc
Due: clang-format, cppcheck

don't build library targets as fetched content
  CMakeLists.txt
Due: none

(debug mode) don't read whole web file on open
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

fix
  src/zstd_vfs.h
Due: clang-format, cppcheck

readme
  README.md
Due: none

bump
  CMakeLists.txt
Due: none

add web_vfs (#8)
  .github/workflows/tests.yml
  CMakeLists.txt
  Dockerfile
  README.md
  src/SQLiteNestedVFS.h
  src/SQLiteVFS.h
  src/ThreadPool.h
  src/nested_vfs.cc
  src/zstd_vfs.cc
  src/zstd_vfs.h
  test/test.cc
  test/test.py
Due: clang-format, cppcheck, black

web_log passthrough
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

set PRAGMA application_id=0x7a737464 on outer db
  src/zstd_vfs.h
Due: clang-format, cppcheck

bump web_vfs and passthrough web_insecure
  CMakeLists.txt
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

fix application_id
  src/zstd_vfs.h
  test/TPC-H.py
  test/test.py
Due: clang-format, cppcheck, black

set outer db cache_size after page_size
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck
