Repository mlin/sqlite_zstd_vfs: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cppcheck, black

clang-format:
  name: clang-format
  language: system
  verbose: true
  entry: clang-format
  args:
  - -i
  - '-style={IndentWidth: 4, ColumnLimit: 100}'

cppcheck:
  name: cppcheck
  language: system
  verbose: true
  entry: cppcheck
  args:
  - -q
  - --std=c++11

black:
  name: black
  language: system
  verbose: true
  entry: black
  args:
  - -l
  - '100'

wip
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

wip
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

wip
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

wip
  src/SQLiteNestedVFS.h
  test/TPC-H.py
Due: clang-format, cppcheck, black

wip
  test/test.py
Due: black

wip
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
  test/test.py
Due: clang-format, cppcheck, black

wip
  src/SQLiteNestedVFS.h
  test/test.py
Due: clang-format, cppcheck, black

wip
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
Due: clang-format, cppcheck

prefetch & decompress pages on background threads (#4)
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
  src/zstd_vfs.h
  test/TPC-H.py
  test/test.cc
  test/test.py
Due: clang-format, cppcheck, black

name polishing for consistency
  README.md
  src/SQLiteNestedVFS.h
  src/zstd_vfs.h
Due: clang-format, cppcheck

fix short read detection
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

Update README.md
  README.md
Due: none

delete vestigial line
  src/zstd_vfs.h
Due: clang-format, cppcheck

spinnier lock
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

fine-tune ThreadPool cv_done firing
  src/ThreadPool.h
Due: clang-format, cppcheck

disable ReadPlainPage1 optimization pending investigation
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

new page 1 optimization
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

rework optimization for db header reads (#5)
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

bump SQLiteCpp
  CMakeLists.txt
  src/SQLiteVFS.h
  test/test.cc
Due: clang-format, cppcheck

fix opening db through symlink or relative to root directory
  .github/workflows/tests.yml
  src/SQLiteNestedVFS.h
  test/test.py
Due: clang-format, cppcheck, black

change seek_lock from mutex to atomic spinlock
  src/SQLiteNestedVFS.h
Due: clang-format, cppcheck

lock-free prefetch enqueue
  CMakeLists.txt
  Dockerfile
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
Due: clang-format, cppcheck

lock-free prefetch enqueue (#7)
  CMakeLists.txt
  Dockerfile
  src/SQLiteNestedVFS.h
  src/ThreadPool.h
Due: clang-format, cppcheck

web_vfs reorg
  CMakeLists.txt
  src/SQLiteVFS.h
  src/ThreadPool.h
Due: clang-format, cppcheck

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  black: any of: \.py$
